// Put any @imports here
// See Readme for a list of supported ones
@import 'font-awesome';
@import 'foundation';

body {
  font-family: 'Courier';
  background-image: url(http://www.creattor.com/files/37/3470/drips-and-spray-paint-textures-screenshots-5.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.formContainer{
  width: 500px;
  margin: 0 5%;
  h1{
    font-family: 'Courier';
  }
  input{
    border-radius: 20px;
  }
  button{
    border-radius: 50px;
    box-shadow: 2px 2px 2px black;
    background: grey;
    font-family: 'Courier';
  }
  button:hover{
    background: #57A36E;
  }
}
