<div class="formContainer">
  <h1>contact us</h1>

  <form ng-submit="vm.addContact(contact)">

    <span class="inputTitle">name</span>
    <input ng-model="contact.name" class="name">

    <span class="inputTitle">email</span>
    <input ng-model="contact.email"class="email" type="email">

    <span class="inputTitle">website</span>
    <input ng-model="contact.website" class="website">

    <span class="inputTitle">message</span>
    <input ng-model="contact.message" class="message" type="text">

    <button>submit</button>
  </form>
</div>